\__pycache__/

sampleEC2.pem
stud-perf_accessKeys.csv

*.egg-info/
.installed.cfg
*.egg

.pytest_cache/
catboost_info/
logs/


# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

__pypackages__/

.env
.venv/



